
*{
    box-sizing: border-box;
}
body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: url(./ala.jpeg);
    
}
header{
    font-size:75px;
    text-align: center;
    color: #00adb5;
    font-weight: bold;
}
header span{
color:#e4bad4 ;
}
#no-tasks{
    color: #ce1f6a;
    background-color:transparent;
    margin: 35px;
    font-size: 20px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1{
    font-size:30px;
}
.todo-container{
    display: flexbox;
    width: 700px;
    margin: 30px auto 0;
    background-color: #e4bad4;
    border-radius:30px;
    height:200px;
}
 .add-task{
background-color: #aad8d3;
padding: 15px;
position: relative;
border-radius:30px;
margin: 20px;
}

.todo-container .add-task input{
    display: inline-block;
    border: none;
    padding: 10px 15px;
    width: 100%;
    background-color:rgba(255,255,255,.3);
    outline: none;
    border-radius:30px;
    color:#393e46;
    font-size: 20px;
}

.todo-container .add-task input:focus{
    outline: none;
}
.todo-container .add-task .add{
border: none;
position: absolute;
height: 44px;
width: 44px;
color:#e4bad4;
right: 12px;
cursor: pointer;
border-radius:50%;
line-height: 44px;
text-align: center;
font-size: 38px;
transition: transform.3s ;
}
.todo-container .add-task .add:hover{
transform: rotate(90deg);
}


.todo-container .tasks-content{
    padding: 15px;
    color: #393e46;

}

.todo-container .tasks-content >span{
    display: block;
    padding: 10px;
    background-color:rgba(224, 228, 230, 0.678);
    margin-bottom: 10px;
    border-radius:30px;
}

/*.tasks-content > span:not(:last-child){
    margin-bottom: 10px;
}*/
.delete{
    float: right;
    padding: 4px 4px;
    color: #ce1f6a;
    font-size: 16px;
    font-weight: bold;
    border-radius:4px;
    cursor: pointer;  
}

.task-box {
display: block;
font-size: 25px;
color: #393e46;
padding: 10px;
margin-bottom: 10px;
border-radius:30px;
background-color: rgba(224, 228, 230, 0.678);
}


.todo-container .tasks-content .task-box .completed{
    float: right;
    padding: 4px 4px;
    color: green;
    font-size: 16px;
    font-weight: bold;
    border-radius:4px;
    cursor: pointer;
}

.task-stats{
    overflow: hidden;
    margin: 10px auto;
    width: 600px;
    font-size: 12px;
}
.task-stats .tasks-count{
    width: 40%;
    float: left;
    padding: 10px;
    color: #72147e;
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 0 10px;
    cursor: pointer;
}

.task-stats .tasks-completed{
    width: 50%;
    float: right;
    padding: 10px;
    text-align: right;
    color: #72147e;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.task-stats .tasks-count span,
.task-stats .tasks-completed span{
    color: white;
    padding: 2px 8px;
    font-size: 15px;
    border-radius: 4px;
    font-weight: bold;
}

.task-stats .tasks-count span{
    margin: 5px;
    background-color: #00adb5;
    ;
}

.task-stats .tasks-completed span{
background-color: #00adb5;
    margin: 3px;
}

